.key-point {
  @extend .row;
  @extend .navbar-default;
  @include border-radius(10px);
  padding: 20px 0;
  margin: 20px 0;
//  background-color: $blue-jeans-light;

  header {
    @extend .col-sm-4;
  }

  section {
    @extend .col-sm-8;
  }
}

header.intro {
  text-align: center;
}