%article
  %header
    %h2 The benefits of competitor intelligence
  %body
    %p Competitor intelligence allows you to understand a business market and its opportunities. 

    %p Companies used to gather and analyze data from reports and consumer surveys. This process was slow and expensive. Today you can do sophisticated competitor intelligence quickly and cheaply with a wide range of tools.

  %section.key-point
    %header
      %h4 Context
    %section
      %ul
        %li What are my competitors doing?
        %li Who are the market leaders and why?

  %section.key-point
    %header
      %h4 Opportunities
    %section
      %ul
        %li What are my competitor's strengths and weaknesses?
        %li Is there an unmet need in the marketplace?