%article#how
  %header
    %h2 Quick smarts on your industry

  %body
    %p Get one of our free easy-to-understand reports now. 

    %p Today’s sophisticated competitor intelligence is inexpensive and fast. It uses a range of digital tools to create an accurate overview of your market and its opportunities. No trivial jargon, pointless infographics, clunky paragraphs or buzzword bingo. 

    .cta
      %a{ href: '/reports' } Get report