%article#why
  %header
    %h2 Business – not buzz
    %h4 We’re here to get you clued-up on what's going on around you.
  %body
    %p We use data on web behaviour – site visits, web searches, social posts, app downloads – to yield some of the richest competitor intelligence insights available to your business.

  %section.key-point
    %header
      %h4 Competitor behaviour
    %section
      %ul
        %li Website content – pages, topics, product prices
        %li Website success – traffic, engagement, social shares, inflows and outflows

  %section.key-point
    %header
      %h4 Customer behaviour
    %section
      %ul
        %li Quantitative intent – product and brand searches
        %li Qualitative understanding – social comments and conversation