%article#how
  %header
    %h2 Information aspiration

  %body
    %p In the old days, companies gleaned their marketing insights from reams of reports and consumer surveys – a slow and expensive process.

    %p Today’s sophisticated competitor intelligence is inexpensive and fast. It uses a range of digital tools to create an accurate overview of your market and its opportunities.

  %section.key-point
    %header
      %h4 Questions answered
    %section
      %ul
        %li What are my competitors doing?
        %li Who are the market leaders? Why?
        %li What are my competitor's strengths and weaknesses?
        %li Is there an unmet need in the marketplace?