%header.intro
  %h1 What is competitor intelligence?
  %h2 Quick smarts
  %p Competitor intelligence (CI) equips you with the insight to make strategic moves around what your marketplace is already doing.