%article#how
  %header
    %h2 How?
    %h4 It's easier than ever before to do competitor intelligence
  %body
    %p It's easier than ever before to do competitor intelligence. There is a vast amount of useful data available on people's web behavior. Data includes people's site visits, web searches, social posts and app downloads. Some of the richest competitor intelligence insights possible are available from this data.

  %section.key-point
    %header
      %h4 Competitor behavior
    %section
      %ul
        %li Website content; pages, topics, product prices
        %li Website success; traffic, engagement, social shares, inflows and outflows

  %section.key-point
    %header
      %h4 Customer behavior
    %section
      %ul
        %li Product and brand search terms give you quantitative intent
        %li Social media comments and conversations give you qualitative understanding