%nav
  %header
    %a{ href: '#' } Compi
  %ul.links
    %li
      %a{ href: '#why' } Why
    %li
      %a{ href: '#how' } How
    %li
      %a{ href: '#tools' } Tools

  %ul.cta
    %li
      %a{ href: '#report', 'data-toggle' => 'modal', 'data-target' => '#getReport' } Get report

= partial 'layouts/get_report'