%nav
  %header
    %a{ href: '/' } Compi

  %ul.cta
    %li
      %a{ href: '/reports' } Get report

/ %nav
/   %header
/     %a{ href: '/' } Compi
/   %ul.links
/     %li
/       %a{ href: '#why' } Why
/     %li
/       %a{ href: '#how' } How
/     %li
/       %a{ href: '#tools' } Tools

/   %ul.cta
/     %li
/       / %a{ href: '/reports', 'data-toggle' => 'modal', 'data-target' => '#getReport' } Get report
/       %a{ href: '/reports' } Get report

/ = partial 'layouts/get_report'